@model MarketOn.Models.MothesOfModels
@{
    ViewBag.Title = "DetalleLista";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

    <div class="text-center">
        <h3> Detalle Lista - @Model.ListaCompra.ListaCompraNombre</h3>
    </div>
    <div class="row">
        <table class="table table-responsive text-center ">
            <thead>
                <tr>
                    <th style="text-align: center;width: 35%;">Nombre de Producto</th>
                    <th style="text-align:center">Cantidad</th>
                    <th style="text-align:center">Estado</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var listaProductos in Model.ListaProductoCompra)
                    {
                        <tr>
                            <td>@listaProductos.ProductoNombre</td>
                            <td>@listaProductos.Cantidad</td>
                            <td>
                                <label class="custom-control custom-checkbox">
                                    @{
                                        if (@listaProductos.Estado == "True")
                                        {<input type="checkbox" class="custom-control-input chkValue" id="@listaProductos.DetalleListaCompraId" checked />}
                                        else
                                        {<input type="checkbox" class="custom-control-input chkValue" id="@listaProductos.DetalleListaCompraId" />}
                                    }
                                </label>
                            </td>
                            <td><a href="" id="@listaProductos.DetalleListaCompraId" class="btnElim glyphicon glyphicon-remove"></a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="#" class="btn btn-danger InputFull">Bandeja</a>
        </div>
        <div class="col-md-6">
            <a href="#" class="btn btn-danger InputFull">Finalizar</a>
        </div>
    </div>
